/* 
 .product-list-container {
  padding: 20px;
}

.back-button {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #c82333;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  margin: 10px;
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.product-name {
  margin-top: 10px;
  font-weight: bold;
}

.product-price {
  margin-top: 5px;
} */ */

 .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product-group {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 20px;
}

.product-item {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  width: auto; 
}
.product-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-item p {
  margin: 5px 0;
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} 


/* src/components/ProductList.css */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align items to the left and right edges */
  margin-top: 20px;
}

.product-item {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  width: auto; /* Adjust width to fit three products in a row */
  margin-bottom: 20px; /* Add margin bottom for space between rows */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.product-item img {
  width: 100%;
  height: 150px; /* Set fixed height for images */
  object-fit: cover; /* Scale the image to cover the entire container */
  border-radius: 10px; /* Round the corners of the image */
}

.product-item p {
  margin: 5px 0;
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
